.technology-container
{
    margin-bottom: 1rem;
}
.technology-container h2
{
    
    color: #FFF;
    font-size: 2.2rem;
    margin-bottom: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 2rem;
}
.technology-container h2::after
{
    content: '';
    background: linear-gradient(90deg, rgba(250,82,82,1) 0%, rgba(21,36,118,1) 100%);
    height: 3px;
    width: 30%;
}
.technology-grid
{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.technology-card
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #333;
    width: 45%;
    border-radius: 5px;
    margin-left: 2rem;
}
.technology-card h3
{
    color: #FFF;
    margin-bottom: 1rem;
}
.technology-card svg
{
    font-size: 6rem;
}
#HTML5 
{
    color: #e44d26;
}
#CSS3 
{
    color: #1572b6;
}
#Javascript
{
    color: #f0db4f;
}
#NodeJs
{
    color: #83cd29;
}
#MongoDB
{
    color: #589636;
}
#React
{
    color: #61dafb;
}
#Photoshop 
{
    color: #00618a;
}